.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    min-height: 3rem;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
  

}

ul {
    margin: 0;
    padding: 0;
}

ul .navbar-nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 0;
}

.navbar-nav > li {
    display: inline;
    list-style-type: none;
    margin: 5px;
}

